<h1>Enter Game Results</h1>

<%= form_tag games_path do %>
<fieldset>
  <p>
    <%= label_tag :winner %>
    <%=
       select_tag(:winner_id,
       options_from_collection_for_select(@members, "id", "name"),
       :prompt => 'Select Winner')
    %>
  </p>
  <p>
    <%= label_tag :loser %>
    <%=
       select_tag(:loser_id,
       options_from_collection_for_select(@members, "id", "name"),
       :prompt => 'Select Loser')
    %>
  </p>
  <p class="actions">
    <%= submit_tag "Record Game" %>
    <%= link_to "Cancel", members_path %>
  </p>
</fieldset>
<% end %>

