<% if flash[:error] -%>
  <div class="error_message"><%= flash[:error] %></div>
<% end -%>

<%= form_for member, :url => { :action => "update" }, :html =>  { :id => 'new_member', :class => 'data_entry' } do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name, "Your Name" -%>
    <%= f.text_field "name" %>
  </div>
  <div class="field">
    <%= f.label :email, "Your Email" -%>
    <%= f.text_field "email" %>
  </div>
  <div class="field">
    <%= f.submit "Update" %>
    <%= link_to "Cancel", member_path(member) %>
  </div>
<% end -%>
