<h1>Guild Members</h1>

<table>
<% members.each do |member| -%>
  <tr>
    <td><%= link_to member.name, member_path(member) %></td>
    <td><%= member.email %></td>
    <td><%= member.rank %></td>
    <td>
      <%= link_to "Edit", edit_member_path(member) %> |
      <%= link_to "Delete", member_path(member), :method => :delete, :confirm => "Do you really want to delete member #{member.name}?" %>
    </td>
  </tr>
<% end -%>
</table>

<div class="button_panel">
  <%= link_to "New member", new_member_path, :class => "button" %>
</div>
