<%= form_for @member do |f| %>
<%= render "shared/errors", model: @member %>
<fieldset>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :rank %>
    <%= f.text_field :rank %>
  </p>
  <p class="actions">
    <%= f.submit %>
    <%= link_to "Cancel", members_path %>
  </p>
</fieldset>
<% end %>
