<h1>Requested Reservation</h1>
Check in: <%= @reservation.check_in -%><br />
Check out: <%= @reservation.check_out -%><br />
Number of Rooms: <%= @reservation.number_of_rooms -%><br />

<h2>Room Availability</h2>

<ul>
  <% @availability.each do |room_type, rate| -%>
    <li>
      <% form_for(:reservation, @reservation, :url => { :action => "create" }) do |f| -%>
	    <%= f.text_field('name')%>
        <%= f.hidden_field('check_in') %>
        <%= f.hidden_field('check_out') %>
        <%= f.hidden_field('number_of_rooms') %>
        <%= f.hidden_field('rate', :value => rate) %>
        <%= f.hidden_field('room_type_id', :value => room_type.id) %>
        <%= pluralize(@reservation.number_of_rooms, "#{room_type.name} room") %>
        at $<%= rate -%> 
        <%= submit_tag 'Book this room' -%>
      <% end -%>
    </li>
  <% end -%>
</ul>

<h2>Change The Dates</h2>

<%= error_messages_for 'reservation' %>

<% form_for :reservation, @reservation, :html => {:method => "get"}, :url => { :action => "new" } do |f| -%>
  <%= f.hidden_field('rate', :value => 0) %>
  <%= f.hidden_field('room_type_id', :value => 0) -%>
  Check In Date: <%= date_select("reservation", "check_in") %>
  <br />
  Check Out Date: <%= date_select("reservation", "check_out") %>
  <br />
  Number of Rooms: <%= f.text_field('number_of_rooms', :size => 3) -%>
  <br />
  <%= submit_tag 'Change Requested Dates' -%>
<% end -%>

<hr />

[ <a href="/">Home Page</a> ]
