<h1>A New Match</h1>

<% if flash[:error] -%>
  <div class="error_message"><%= flash[:error] %></div>
<% end -%>

<%= form_for match, :url => { :action => "create" }, :html =>  { :id => 'new_member', :class => 'data_entry' } do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name, "The Winner" -%>
    <%= collection_select(:match, :winner_id, members, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :name, "The Loser" -%>
    <%= collection_select(:match, :loser_id, members, :id, :name) %>
  </div>
  <div class="field">
    <%= f.submit "Record" %>
    <%= link_to "Cancel", members_path, :class => "button" %>
  </div>
<% end -%>

